appdirs==1.4.3
click==6.7
crowdai==1.0.12
enum-compat==0.0.2
enum34==1.1.6
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mido==1.2.8
packaging==16.8
pyparsing==2.2.0
requests==2.14.2
six==1.10.0
socketIO-client-2==0.7.5
termcolor==1.1.0
tqdm==4.11.2
websocket-client==0.40.0
Werkzeug==0.12.2
